<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
        <h1>GameHub</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li class="dropdown">
                    <a href="#">Games</a>
                    <div class="dropdown-content">
                        <% headerData.genres.forEach(genre => { %>
                            <a href="/games/<%= genre.genre.toLowerCase(); %>"><%= genre.genre %></a> 
                        <% }) %>
                    </div>
                </li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
        <div id="auth">
            <% if (headerData.user) { %>
                <span>Welcome, <b><%= headerData.user.username %></b></span>
                <% if (headerData.user.role === 'admin') { %>
                    <li class="dropdown">
                        <a href="#">Admin</a>
                        <div class="dropdown-content">
                            <a href="#">Views : <%= headerData.views %></a>
                            <a href="/admin/game">Game</a>
                            <a href="/admin/comments">Comment</a>
                        </div>
                    </li>
                <% } %>
                <a href="/logout">Logout</a>
            <% } else { %>
                <a href="/login">Login</a>
                <a href="/signup">Register</a>
            <% } %>
        </div>
    </header>

