<%- include('partials/header') %>
<div id="content">
    <p>Enjoy a variety of web games here!</p>
    <div class="game-list">
<% games.forEach(game => { %>
        <div class="game-card">
            <a href="play/<%= game.id %>">
                <img src="images/<%= game.thumbnail %>" alt="<%= game.name %>">
                <h3><%= game.name %></h3>
            </a>            
        </div>
<% }) %>
    </div>
</div>
<%- include('partials/footer') %>  
