<%- include('partials/header') %>
<link rel="stylesheet" href="/css/home-games.css">
<div id="content">
    <p>Enjoy a variety of web games here!</p>
    <div class="game-list">
<% games.forEach(game => { %>
        <div class="game-card">
            <a href="play/<%= game.id %>">
                <img src="<%= game.thumbnail %>" alt="<%= game.name %>">
                <h3><%= game.name %></h3>
            </a>            
        </div>
<% }) %>
    </div>
</div>
<div id="ad-popup" style="display: none;">
    <img src="images/ad.jpg" alt="advertisement"></img>
    <button onclick="closeAd()">Close</button>
</div>
<script src="/js/ad-popup.js"></script>
<%- include('partials/footer') %>  
