<%- include('../../partials/header') %>
<link rel="stylesheet" href="/css/admin.css">
<div id="content">
    <div style="display: flex;justify-content: space-between;align-content: center;align-items: center">
        <h1>Games management</h1>
        <a href="/admin/game/add">Add</a>
    </div>
    <div class="game-list">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Thumb</th>
                    <th scope="col">Genre</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <% games.forEach(game => { %>
                    <tr>
                        <th scope="row">
                            <a href="play/<%= game.id %>"><%= game.id %></a>
                        </th>
                        <td><%= game.name %></td>
                        <td>
                            <img src="<%= game.thumbnail %>" alt="">
                        </td>
                        <td><%= game.genre %></td>
                        <td>
                            <a href="/admin/game/edit/<%= game.id %>">Edit</a>
                            <a href="/admin/game/delete/<%= game.id %>">Delete</a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</div>
<%- include('../../partials/footer') %>
